<div class="col-lg-10 mx-auto mt-5 mb-5 tour-show-page">
  <h1 class="tour-title"><%= @tour.name %></h1>
  
  <!-- Tour Image -->
  <div class="tour-image-container">
    <% if @tour.image.present? %>
      <%= image_tag @tour.image, alt: "Tour Image", class: 'tour-image'  %>
    <% else %>
      <%= image_tag "https://img.freepik.com/free-psd/travel-tour-social-media-post-instagram-post-web-banner-template_501970-224.jpg?ga=GA1.1.590165737.1721391013&semt=ais_hybrid", alt: "Tour Image", class: 'tour-image' %>    
    <% end %>
  </div>

  <!-- Tour Description -->
  <div class="tour-description">
    <h2>Description</h2>
    <p><%= @tour.description %></p>
  </div>

  <!-- Tour Information -->
  <div class="tour-info">
    <h2>Tour Information</h2>
    <p><strong>Hours:</strong> <%= @tour.hours %></p>
    <p><strong>Reviews:</strong> <%= @tour.average_rating %> ⭐</p>
  </div>

  <!-- Key Viewpoints Section -->
  <h2>Key Viewpoints</h2>
  <ul class="tour-viewpoints">
    <% @tour.viewpoints.each do |viewpoint| %>
      <li>
        <strong><%= viewpoint.name %>:</strong> <%= viewpoint.description %>
      </li>
    <% end %>
  </ul>
  <div>
    <%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe, tours_path, class: 'btn btn-secondary' %>
    <%= link_to '<i class="fas fa-pencil"></i> Edit'.html_safe, edit_tour_path(@tour), class: 'btn btn-primary' %>
    <%= link_to '<i class="fas fa-trash"></i> Delete'.html_safe, tour_path(@tour), data: { turbo_method: :delete, turbo_confirm: 'Are You Sure?' }, class: 'btn btn-danger' %>
  </div>
</div>

<style>
.tour-show-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.tour-title {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.tour-image-container {
  text-align: center;
  margin-bottom: 20px;
}

.tour-description {
  margin-bottom: 30px;
}

.tour-info p {
  margin: 10px 0;
}

.tour-viewpoints, .tour-includes, .tour-excludes, .tour-facilities {
  list-style: none;
  padding-left: 0;
}

.tour-viewpoints li, .tour-includes li, .tour-excludes li, .tour-facilities li {
  padding: 5px 0;
  font-size: 16px;
}

h2 {
  margin-top: 30px;
  font-size: 24px;
  color: #333;
}
</style>
