<%= form_with(model: [ @hotel, @room ], local: true) do |form| %>
  <div>
    <%= form.label :room_type %>
    <%= form.text_field :room_type %>
  </div>

  <div>
    <%= form.label :price_per_night %>
    <%= form.number_field :price_per_night %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
